#ai #chat-box {
    height: 400px;
    padding: 20px;
    background-color: #c6c6c6;  
}

#ai #txt-question {
    height: 30px;
    width: 97%;
    padding: 10px;
    font-size: 15px;
}

#ai #btn-sendMsg{
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

#ai #chat-box {
    overflow-y: scroll;
}
#ai #chat-box .user-msg-box{
    text-align: right;
}

#ai #chat-box .user-msg{
    max-width: 300px;
    float: right;
    font-size: 13px;
    padding:10px;
    background-color: #d7f8a8;
}

#ai #chat-box .bot-msg-box{
    text-align: left;
}

#ai #chat-box .bot-msg{
    max-width: 300px;
    float: left;
    font-size: 13px;
    padding:10px;
    background-color: #ffffff;
}